<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab1.css">
    <title>Document</title>
</head>
<body>
<div class="bg_img">
    <div class="top">
        <a href="/lab1">
            <img class="icon_back" src="public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="public/img/menu.png">
        </a>
    </div>
    <div class="choice">
        <p class="title_text">
            Fronted - разработчик
        </p>
        <form method="post" action="/add">
            <div class="list_1">

            </div>
            <div class="list_button">
                <a href="/lab1">
                    <button class="sent" onclick="">Пройти опрос</button>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
