<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_test_4.css">
    <link href="/public/libs/itc-slider/itc-slider.css" rel="stylesheet">
    <script src="/public/libs/itc-slider/itc-slider.js" defer></script>
    <title>Тест Войнаровского</title>
</head>
<body>
<div id="bg" class="bg_img">
    <div class="top">
        <a href="/tests_lab5">
            <img class="icon_back" src="/public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="/public/img/menu.png">
        </a>
    </div>
    <div id ='Tester' class="tester">
        <div id='Instruction' class="instruction text_instruction">
            Вам предлагается логическое суждение и несколько следствий; из трех следствий одно и только одно правильно.
            Ваша задача выбрать его.
        </div>
        <button id='Start_button' class="start_button" name="start" onclick="start_test()">Начать</button>
        <div id='Final Result' class="result"></div>
        <div class="container-voinarovsky" id="container-voinarovsky">
            <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false">
                <form name="test" action="http://index" method="post">
                <div class="itc-slider__wrapper">
                    <div class="itc-slider__items">
                        <div class="itc-slider__item">
                            <h3 class="question_title">Шмурдик боится как мышей, так и тараканов</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q1"><span class="question_span">Шмурдик не боится тараканов</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q1"><span class="question_span">Шмурдик боится мышей</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q1"><span class="question_span">Шмурдик боится мышей больше, чем тараканов, но и тараканов боится тоже</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Известно, что грымзик обязательно или полосат, или рогат, или то и другое вместе</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q2"><span class="question_span">грымзик не может быть безрогим</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q2"><span class="question_span">грымзик не может быть однотонным и безрогим одновременно</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q2"><span class="question_span">грымзик не может быть полосатым и безрогим одновременно</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если запырку отравить, то она сразу начнет пускать пузыри</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q3"><span class="question_span">если запырка пускает пузыри, то она была отравлена</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q3"><span class="question_span">если запырку не отравить, то она не будет пускать пузыри</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q3"><span class="question_span">если запырка не пускает пузыри, то она не отравлена</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Все охлотушки умеют играть в шашки</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q4"><span class="question_span">не бывает охлотушек, которые не умеют играть в шашки</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q4"><span class="question_span">все, кто умеет играть в шашки, являются охлотушками</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q4"><span class="question_span">не бывает охлотушек, которые умеют играть в шашки</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Дубараторы бывают либо хорошими, либо плохими. Неправда, что этот дубаратор не плохой</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q5"><span class="question_span">этот дубаратор хороший</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q5"><span class="question_span">этот дубаратор средненький</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q5"><span class="question_span">этот дубаратор плохой</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">В природе обнаружено более десятка тиалей. Все обнаруженные тиали сплошь красного цвета</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q6"><span class="question_span">по крайней мере некоторые из тиалей красного цвета</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q6"><span class="question_span">по крайней мере некоторые из тиалей зеленые</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q6"><span class="question_span">некоторые тиали (из тех, что уже обнаружены) могут оказаться не красными</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Существуют шакалы с больной мухропендией</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q7"><span class="question_span">не всякий шакал может похвастаться здоровой мухропендией</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q7"><span class="question_span">не всякий шакал может похвастаться больной мухропендией</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q7"><span class="question_span">существуют шакалы со здоровой мухропендией</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Неправда, что наша тумельница большая и круглая</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q8"><span class="question_span">наша тумельница маленькая и некруглая</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q8"><span class="question_span">наша тумельница маленькая, или некруглая, или то и другое вместе</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q8"><span class="question_span">наша тумельница маленькая, или некруглая, но не то и другое вместе</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Джон всегда либо урдит, либо мурлит</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q9"><span class="question_span">Джон иногда урдит</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q9"><span class="question_span">Джон иногда урдит, а иногда мурлит</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q9"><span class="question_span">Джон никогда не занимается одновременно и урдением, и мурлением</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Журналисты наврали, что бздыш болотный безграмотен и нахален</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q10"><span class="question_span">на самом деле бздыш болотный образован и тактичен</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q10"><span class="question_span">на самом деле бздыш болотный безграмотен, но не нахален</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q10"><span class="question_span">те журналисты солгали</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если тряхнуть бурдылькой, то начнется стрельба. Бурдылькой тряхнули</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q11"><span class="question_span">стрельба уже началась</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q11"><span class="question_span">стрельба начнется когда-нибудь</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q11"><span class="question_span">стрельба начнется когда-нибудь или уже началась</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если тряхнуть перпелькой, то немедленно начнется стрельба. За последний час стрельбы не было</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q12"><span class="question_span">в течение последнего часа перпелькой не трясли</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q12"><span class="question_span">в течение последнего часа перпелькой трясли</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q12"><span class="question_span">а нечего было трясти чем попало</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Огромный бутряк напугал деревенского старосту</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q13"><span class="question_span">старосте приснился ночной кошмар</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q13"><span class="question_span">староста попробовал некачественной выпивки</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q13"><span class="question_span">староста был напуган</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если почесать угубка за ухом, он начнет довольно шипеть. Если угубок довольно зашипит, то молоко поблизости скиснет</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q14"><span class="question_span">если не чесать угубка за ухом, то молоко поблизости не скиснет</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q14"><span class="question_span">если почесать угубка за ухом, молоко поблизости скиснет</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q14"><span class="question_span">молоко вдалеке никогда не скисает от чесания угубков</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Всех, кто громко обуривает, обязательно съедают. Все ухмырки постоянно громко обуривают</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q15"><span class="question_span">все, кто громко обуривает,- ухмырки</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q15"><span class="question_span">всех ухмырков обязательно съедают</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q15"><span class="question_span">некоторых ухмырков не съедают</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">В реках близ Тимуграда обитает и вобла, и щука</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q16"><span class="question_span">в реках близ Тимуграда не бывает воблы</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q16"><span class="question_span">в реках близ Тимуграда обитает щука</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q16"><span class="question_span">в реках близ Тимуграда обитает только вобла и щука</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Все пуфелки радуют умом или красотой, а иногда даже и тем, и другим</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q17"><span class="question_span">пуфелка не может быть глупой</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q17"><span class="question_span">не бывает глупых некрасивых пуфелок</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q17"><span class="question_span">не бывает умных красивых пуфелок</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Когда вы спите, вы всегда мухряете</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q18"><span class="question_span">если вы мухряете, значит, вы спите</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q18"><span class="question_span">если вы не спите, вы не мухряете</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q18"><span class="question_span">если вы не мухряете, значит, вы не спите</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Все болельщики любят ыгу</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q19"><span class="question_span">не бывает болельщиков, которые не любят ыгу</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q19"><span class="question_span">все, кто любит ыгу, болеет за кого-нибудь</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q19"><span class="question_span">не бывает болельщиков, которые любят ыгу</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Есть только два вида здунцов: красные и синие. Что касается этого конкретного здунца, то он оказался вовсе не синим</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q20"><span class="question_span">этот здунец синий</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q20"><span class="question_span">этот здунец синекрасный</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q20"><span class="question_span">этот здунец красный</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Найдено множество останков быдлозавров. Но все они очень плохо сохранились</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q21"><span class="question_span">некоторые останки быдлозавров очень плохо сохранились</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q21"><span class="question_span">по крайней мере некоторые останки быдлозавров в отличном состоянии</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q21"><span class="question_span">некоторые найденные останки быдлозавров сохранились хорошо</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Некоторые лапухондрии не стабильны</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q22"><span class="question_span">не всякая лапухондрия не стабильна</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q22"><span class="question_span">существуют стабильные лапухондрии</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q22"><span class="question_span">не всякая лапухондрия стабильна</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Говорили, что дукни и острые, и твердые. Оказывается, это вовсе не так</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q23"><span class="question_span">на самом деле дукни тупые и мягкие</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q23"><span class="question_span">на самом деле дукни тупые или мягкие или то и другое сразу</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q23"><span class="question_span">на самом деле дукни тупые или мягкие, но не то и другое сразу</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Кафля всегда либо бегает, либо дышит</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q24"><span class="question_span">Кафля дышит на бегу</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q24"><span class="question_span">Кафля не дышит стоя</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q24"><span class="question_span">Кафля не дышит на бегу</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Информация о том, что завтрашнее совещание будет посвящено альным утятам, оказалась ложной</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q25"><span class="question_span">информация оказалась ложной</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q25"><span class="question_span">совещание будет посвящено не утятам</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q25"><span class="question_span">совещание будет посвящено утятам, но вовсе не альным</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если облить уузку водой, она испортится сразу же. Эта уузка не испорчена. Сейчас я оболью ее водой</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q26"><span class="question_span">не надо обижать уузку</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q26"><span class="question_span">уузка испортится</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q26"><span class="question_span">уузка не испортится</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если облить уузку водой, она испортится сразу же. Эта уузка не была испорчена</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q27"><span class="question_span">уузку не обливали</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q27"><span class="question_span">уузку обливали</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q27"><span class="question_span">да отстаньте вы от уузки</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Вася бросил проходить этот тест, ответив только на 28 вопросов</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q28"><span class="question_span">Вася устал, проходя тест</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q28"><span class="question_span">Вася заколебался, проходя тест</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q28"><span class="question_span">Вася не закончил тест</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если покормить бушку, она успокоится. Спокойную бушку можно доить</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q29"><span class="question_span">если бушку не кормить, ее нельзя будет доить</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q29"><span class="question_span">бушку можно доить, но не кормить, она сама чего-нибудь найдет и съест</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q29"><span class="question_span">после кормления бушку можно доить</span></label>
                        </div>
                        <div class="itc-slider__item">
                            <h3 class="question_title">Если обрадовать бушку, она даст молока. Бушка обрадуется, если дернуть ее за хвост</h3>
                            <label class="question"><input class="question_inp" type="radio" name="q30"><span class="question_span">если дернуть бушку за хвост, она даст молока</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q30"><span class="question_span">никто не обрадуется, если дернуть его за хвост</span></label>
                            <label class="question"><input class="question_inp" type="radio" name="q30"><span class="question_span">если не дернуть бушку за хвост, она не даст молока</span></label>
                        </div>
                    </div>
                </div>
                </form>
                <button class="itc-slider__btn itc-slider__btn_prev"></button>
                <button class="itc-slider__btn itc-slider__btn_next"></button>
            </div>
        </div>
        <button id='Finish_button' class="restart_button" name="finish" onclick="finish_test()" style="top: 5vh">Готово</button>
        <a href="/voinarovsky_test" class="restart_button" id='Retry'>Заново</a>
    </div>
</div>
<script src="/public/libs/CookieManager.js"></script>
<script>
    function start_test() {
        document.getElementById('Instruction').style.display = 'none';
        document.getElementById('Start_button').style.display = 'none';
        document.getElementById('Finish_button').style.display = 'block';
        document.getElementById('bg').style.background = 'black';
        document.getElementById('container-voinarovsky').style.zIndex = '10';
    }

    function finish_test(){
        const TRUE_RESULT = new Array(90);
        TRUE_RESULT[1] = 0; TRUE_RESULT[2] = 1; TRUE_RESULT[3] = 0;
        TRUE_RESULT[4] = 0; TRUE_RESULT[5] = 1; TRUE_RESULT[6] = 0;
        TRUE_RESULT[7] = 0; TRUE_RESULT[8] = 0; TRUE_RESULT[9] = 1;
        TRUE_RESULT[10] = 1; TRUE_RESULT[11] = 0; TRUE_RESULT[12] = 0;
        TRUE_RESULT[13] = 0; TRUE_RESULT[14] = 0; TRUE_RESULT[15] = 1;
        TRUE_RESULT[16] = 1; TRUE_RESULT[17] = 0; TRUE_RESULT[18] = 0;
        TRUE_RESULT[19] = 1; TRUE_RESULT[20] = 0; TRUE_RESULT[21] = 0;
        TRUE_RESULT[22] = 0; TRUE_RESULT[23] = 1; TRUE_RESULT[24] = 0;
        TRUE_RESULT[25] = 0; TRUE_RESULT[26] = 0; TRUE_RESULT[27] = 1;
        TRUE_RESULT[28] = 0; TRUE_RESULT[29] = 0; TRUE_RESULT[30] = 1;
        TRUE_RESULT[31] = 0; TRUE_RESULT[32] = 0; TRUE_RESULT[33] = 1;
        TRUE_RESULT[34] = 1; TRUE_RESULT[35] = 0; TRUE_RESULT[36] = 0;
        TRUE_RESULT[37] = 0; TRUE_RESULT[38] = 0; TRUE_RESULT[39] = 1;
        TRUE_RESULT[40] = 0; TRUE_RESULT[41] = 1; TRUE_RESULT[42] = 0;
        TRUE_RESULT[43] = 0; TRUE_RESULT[44] = 1; TRUE_RESULT[45] = 0;
        TRUE_RESULT[46] = 0; TRUE_RESULT[47] = 1; TRUE_RESULT[48] = 0;
        TRUE_RESULT[49] = 0; TRUE_RESULT[50] = 1; TRUE_RESULT[51] = 0;
        TRUE_RESULT[52] = 0; TRUE_RESULT[53] = 0; TRUE_RESULT[54] = 1;
        TRUE_RESULT[55] = 1; TRUE_RESULT[56] = 0; TRUE_RESULT[57] = 0;
        TRUE_RESULT[58] = 0; TRUE_RESULT[59] = 0; TRUE_RESULT[60] = 1;
        TRUE_RESULT[61] = 1; TRUE_RESULT[62] = 0; TRUE_RESULT[63] = 0;
        TRUE_RESULT[64] = 0; TRUE_RESULT[65] = 0; TRUE_RESULT[66] = 1;
        TRUE_RESULT[67] = 0; TRUE_RESULT[68] = 1; TRUE_RESULT[69] = 0;
        TRUE_RESULT[70] = 0; TRUE_RESULT[71] = 0; TRUE_RESULT[72] = 1;
        TRUE_RESULT[73] = 1; TRUE_RESULT[74] = 0; TRUE_RESULT[75] = 0;
        TRUE_RESULT[76] = 0; TRUE_RESULT[77] = 1; TRUE_RESULT[78] = 0;
        TRUE_RESULT[79] = 1; TRUE_RESULT[80] = 0; TRUE_RESULT[81] = 0;
        TRUE_RESULT[82] = 0; TRUE_RESULT[83] = 0; TRUE_RESULT[84] = 1;
        TRUE_RESULT[85] = 0; TRUE_RESULT[86] = 0; TRUE_RESULT[87] = 1;
        TRUE_RESULT[88] = 1; TRUE_RESULT[89] = 0; TRUE_RESULT[90] = 0;

        let result = 0;
        for(let i = 0; i < 90; i++) {
            if (document.test.elements[i].checked) {
                result = result + TRUE_RESULT[i+1];
            }
        }
        document.getElementById('Final Result').style.display = 'block';
        document.getElementById('Final Result').innerHTML = 'Верных ответов ' + result + '<br><br>' +
            '<a href="https://testometrika.com/blog/the-correct-answers-to-the-logical-test-wojnarowski/">Подробное разъяснение всех задач</a>';
        document.getElementById('Finish_button').style.display = 'none';
        document.getElementById('container-voinarovsky').style.display = 'none';
        document.getElementById('Retry').style.display = 'block';
        document.getElementById('Retry').style.top = '10vh';
        sendUser(result);
    }

    // Sends test results to server
    async function sendUser(result) {
        const response = await fetch("/result", {
            method: "POST",
            body: JSON.stringify({
                username: getCookie("login"),
                test: "voinarovsky_test",
                correct: result.toString()
            })
        });
        const responseText = await response.text();
        console.log(responseText);
    }
</script>
</body>
</html>