<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_test_1.css">
    <title>Document</title>
</head>
<body>
<div id="bg" class="bg_img">
    <div class="top">
        <a href="/test_1">
            <img class="icon_back" src="public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="public/img/menu.png">
        </a>
    </div>
    <div class="tester">
        <div id='Instruction' class="instruction text_instruction">
            Этот тест считывает скорость реакции на световой сигнал. Ваша цель - нажать на круг как только он поменяет свой цвет.
        </div>
        <button id='Start_button' class="start_button" name="start" onclick="easy_eye_test()">Начать</button>
        <div id='Circle' class="circle" onclick="end_easy_eye_test()"></div>
        <div id='Result' class="result"></div>
        <a href="/easy_eye_test" class="restart_button" id='Retry'>Заново</a>
    </div>
</div>
<script>
    let start_time;
    function test_init() {
        document.getElementById('Instruction').style.display = 'none';
        document.getElementById('Start_button').style.display = 'none';
        document.getElementById('bg').style.background = 'black';
    }

    function easy_eye_test() {
        test_init();
        let rand_time = (Math.random() * 5000) + 1000;
        document.getElementById('Circle').style.display = 'block';
        setTimeout(function(){document.getElementById('Circle').style.backgroundColor = 'red';start_time = Date.now();}, rand_time);
    }

    function end_easy_eye_test() {
        let end_time = Date.now() - start_time;
        if (isNaN(end_time)) {
            document.getElementById('Result').style.display = 'block';
            document.getElementById('Circle').style.display = 'none';
            document.getElementById('Result').innerHTML = 'Не спешите!';
            document.getElementById('Retry').style.display = 'block';
        } else {
            end_time = end_time / 1000
            document.getElementById('Result').style.display = 'block';
            document.getElementById('Circle').style.display = 'none';
            document.getElementById('Result').innerHTML = 'Ваше время реакции: ' + end_time.toString() + 's';
            document.getElementById('Retry').style.display = 'block';
        }
    }
</script>
</body>
</html>