<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_test_1.css">
    <title>Document</title>
</head>
<body>
<div id="bg" class="bg_img">
    <div class="top">
        <a href="/test_1">
            <img class="icon_back" src="public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="public/img/menu.png">
        </a>
    </div>
    <div class="tester">
        <div id='Instruction' class="instruction text_instruction">
            Этот тест считывает скорость сложения чисел в уме и определение результата как четное или нечётное число.
        </div>
        <div id='Iteration' class="iteration"></div>
        <button id='Start_button' class="start_button" name="start" onclick="start_test()">Начать</button>
        <div id="Calc" class="choosing_instruction text_choosing_instruction"></div>
        <button id="Even" class="number_button" onclick="finish_test(0)">Чёт</button>
        <button id="Odd" class="number_button" onclick="finish_test(1)">Нечёт</button>
        <div id='Result' class="result"></div>
        <button id='Next' class="restart_button" name="next" onclick="start_test()">Следующая попытка</button>
        <div id='Final Result' class="result"></div>
        <a href="/sum_eye_test" class="restart_button" id='Retry'>Заново</a>
    </div>
</div>
<script>
    let start_time;
    let iteration = 0;
    let end_time;

    //Результаты
    let correctTests = 0;
    const resultList = []

    let num1 = Math.floor(Math.random() * 99) + 1;
    let num2 = Math.floor(Math.random() * 99) + 1;
    let sum = (num1 + num2) % 2;
    function test_init() {
        iteration++;
        end_time = 0;
        start_time = NaN;
        document.getElementById('Result').style.display = 'none';
        document.getElementById('Next').style.display = 'none';
        document.getElementById('Instruction').style.display = 'none';
        document.getElementById('Start_button').style.display = 'none';
        document.getElementById('bg').style.background = 'black';
        document.getElementById('Iteration').style.display = 'block';
        document.getElementById('Iteration').innerHTML = 'Попытка: ' + iteration +'/5';
    }
    function start_test() {
        test_init();
        num1 = Math.floor(Math.random() * 100);
        num2 = Math.floor(Math.random() * 100);
        sum = (num1 + num2) % 2;
        document.getElementById('Calc').style.display = 'block';
        document.getElementById('Calc').innerHTML = num1 + '+' + num2;
        document.getElementById('Even').style.display = 'inline-block';
        document.getElementById('Odd').style.display = 'inline-block';
        start_time = Date.now();
    }
    function finish_test(answer) {
        let end_time = Date.now() - start_time;
        document.getElementById('Result').style.display = 'block';
        document.getElementById('Even').style.display = 'none';
        document.getElementById('Odd').style.display = 'none';
        if (isNaN(end_time)) {
            document.getElementById('Result').innerHTML = 'Не спешите!';
        } else if (sum === answer) {
            end_time = end_time / 1000
            resultList.push(end_time);
            document.getElementById('Result').innerHTML = 'Ваше время реакции: ' + end_time.toString() + 's';
            correctTests++;
        } else {
            document.getElementById('Result').innerHTML = 'Вы выбрали неверный ответ';
        }
        if (iteration === 5) {
            let averageTime = 0;
            for (let i = 0; i < resultList.length; i++) {
                if (isNaN(resultList[i])) {
                    continue;
                }
                averageTime += resultList[i];
            }
            averageTime /= correctTests;
            document.getElementById('Final Result').style.display = 'block'
            document.getElementById('Final Result').innerHTML = 'Среднее время: ' + averageTime + '\nКоличество правильных ответов: ' + correctTests + '/5'
            document.getElementById('Retry').style.display = 'block';
        } else {
            document.getElementById('Next').style.display = 'block';
        }
    }
</script>
</body>
</html>