<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_test_4.css">
    <link href="/public/libs/itc-slider/itc-slider.css" rel="stylesheet">
    <script src="/public/libs/itc-slider/itc-slider.js" defer></script>
    <title>Тест Войнаровского</title>
</head>
<body>
<div id="bg" class="bg_img">
    <div class="top">
        <a href="/test_4">
            <img class="icon_back" src="/public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="/public/img/menu.png">
        </a>
    </div>
    <div id ='Tester' class="tester">
        <div id='Instruction' class="instruction text_instruction">
            С помощью теста по методике "Компасы" оценивается способность к пространственному и логическому мышлению.
            Вам необходимо определить в какую сторону света указывает компас по риске.
        </div>
        <button id='Start_button' class="start_button" name="start" onclick="start_test()">Начать</button>
        <div id='Timer' class="iteration" style="position: sticky; top: 10px; margin-left: 89%">2m 30s</div>
        <div id='Final Result' class="result"></div>
        <div class="container container-compasses" id="container">
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_0" onclick="cell('north_0')">С</div>
                    <div class="butSideWorld" id="east_0" onclick="cell('east_0')">В</div>
                    <div class="butSideWorld" id="south_0" onclick="cell('south_0')">Ю</div>
                    <div class="butSideWorld" id="west_0" onclick="cell('west_0')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/1.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_0" onclick="cell('northeast_0')">СВ</div>
                    <div class="butSideWorld" id="southeast_0" onclick="cell('southeast_0')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_0" onclick="cell('southwest_0')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_0" onclick="cell('northwest_0')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_1" onclick="cell('north_1')">С</div>
                    <div class="butSideWorld" id="east_1" onclick="cell('east_1')">В</div>
                    <div class="butSideWorld" id="south_1" onclick="cell('south_1')">Ю</div>
                    <div class="butSideWorld" id="west_1" onclick="cell('west_1')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/2.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_1" onclick="cell('northeast_1')">СВ</div>
                    <div class="butSideWorld" id="southeast_1" onclick="cell('southeast_1')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_1" onclick="cell('southwest_1')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_1" onclick="cell('northwest_1')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_2" onclick="cell('north_2')">С</div>
                    <div class="butSideWorld" id="east_2" onclick="cell('east_2')">В</div>
                    <div class="butSideWorld" id="south_2" onclick="cell('south_2')">Ю</div>
                    <div class="butSideWorld" id="west_2" onclick="cell('west_2')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/3.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_2" onclick="cell('northeast_2')">СВ</div>
                    <div class="butSideWorld" id="southeast_2" onclick="cell('southeast_2')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_2" onclick="cell('southwest_2')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_2" onclick="cell('northwest_2')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_3" onclick="cell('north_3')">С</div>
                    <div class="butSideWorld" id="east_3" onclick="cell('east_3')">В</div>
                    <div class="butSideWorld" id="south_3" onclick="cell('south_3')">Ю</div>
                    <div class="butSideWorld" id="west_3" onclick="cell('west_3')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/4.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_3" onclick="cell('northeast_3')">СВ</div>
                    <div class="butSideWorld" id="southeast_3" onclick="cell('southeast_3')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_3" onclick="cell('southwest_3')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_3" onclick="cell('northwest_3')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_4" onclick="cell('north_4')">С</div>
                    <div class="butSideWorld" id="east_4" onclick="cell('east_4')">В</div>
                    <div class="butSideWorld" id="south_4" onclick="cell('south_4')">Ю</div>
                    <div class="butSideWorld" id="west_4" onclick="cell('west_4')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/5.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_4" onclick="cell('northeast_4')">СВ</div>
                    <div class="butSideWorld" id="southeast_4" onclick="cell('southeast_4')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_4" onclick="cell('southwest_4')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_4" onclick="cell('northwest_4')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_5" onclick="cell('north_5')">С</div>
                    <div class="butSideWorld" id="east_5" onclick="cell('east_5')">В</div>
                    <div class="butSideWorld" id="south_5" onclick="cell('south_5')">Ю</div>
                    <div class="butSideWorld" id="west_5" onclick="cell('west_5')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/6.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_5" onclick="cell('northeast_5')">СВ</div>
                    <div class="butSideWorld" id="southeast_5" onclick="cell('southeast_5')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_5" onclick="cell('southwest_5')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_5" onclick="cell('northwest_5')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_6" onclick="cell('north_6')">С</div>
                    <div class="butSideWorld" id="east_6" onclick="cell('east_6')">В</div>
                    <div class="butSideWorld" id="south_6" onclick="cell('south_6')">Ю</div>
                    <div class="butSideWorld" id="west_6" onclick="cell('west_6')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/7.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_6" onclick="cell('northeast_6')">СВ</div>
                    <div class="butSideWorld" id="southeast_6" onclick="cell('southeast_6')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_6" onclick="cell('southwest_6')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_6" onclick="cell('northwest_6')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_7" onclick="cell('north_7')">С</div>
                    <div class="butSideWorld" id="east_7" onclick="cell('east_7')">В</div>
                    <div class="butSideWorld" id="south_7" onclick="cell('south_7')">Ю</div>
                    <div class="butSideWorld" id="west_7" onclick="cell('west_7')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/8.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_7" onclick="cell('northeast_7')">СВ</div>
                    <div class="butSideWorld" id="southeast_7" onclick="cell('southeast_7')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_7" onclick="cell('southwest_7')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_7" onclick="cell('northwest_7')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_8" onclick="cell('north_8')">С</div>
                    <div class="butSideWorld" id="east_8" onclick="cell('east_8')">В</div>
                    <div class="butSideWorld" id="south_8" onclick="cell('south_8')">Ю</div>
                    <div class="butSideWorld" id="west_8" onclick="cell('west_8')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/9.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_8" onclick="cell('northeast_8')">СВ</div>
                    <div class="butSideWorld" id="southeast_8" onclick="cell('southeast_8')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_8" onclick="cell('southwest_8')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_8" onclick="cell('northwest_8')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_9" onclick="cell('north_9')">С</div>
                    <div class="butSideWorld" id="east_9" onclick="cell('east_9')">В</div>
                    <div class="butSideWorld" id="south_9" onclick="cell('south_9')">Ю</div>
                    <div class="butSideWorld" id="west_9" onclick="cell('west_9')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/10.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_9" onclick="cell('northeast_9')">СВ</div>
                    <div class="butSideWorld" id="southeast_9" onclick="cell('southeast_9')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_9" onclick="cell('southwest_9')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_9" onclick="cell('northwest_9')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_10" onclick="cell('north_10')">С</div>
                    <div class="butSideWorld" id="east_10" onclick="cell('east_10')">В</div>
                    <div class="butSideWorld" id="south_10" onclick="cell('south_10')">Ю</div>
                    <div class="butSideWorld" id="west_10" onclick="cell('west_10')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/11.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_10" onclick="cell('northeast_10')">СВ</div>
                    <div class="butSideWorld" id="southeast_10" onclick="cell('southeast_10')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_10" onclick="cell('southwest_10')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_10" onclick="cell('northwest_10')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_11" onclick="cell('north_11')">С</div>
                    <div class="butSideWorld" id="east_11" onclick="cell('east_11')">В</div>
                    <div class="butSideWorld" id="south_11" onclick="cell('south_11')">Ю</div>
                    <div class="butSideWorld" id="west_11" onclick="cell('west_11')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/12.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_11" onclick="cell('northeast_11')">СВ</div>
                    <div class="butSideWorld" id="southeast_11" onclick="cell('southeast_11')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_11" onclick="cell('southwest_11')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_11" onclick="cell('northwest_11')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_12" onclick="cell('north_12')">С</div>
                    <div class="butSideWorld" id="east_12" onclick="cell('east_12')">В</div>
                    <div class="butSideWorld" id="south_12" onclick="cell('south_12')">Ю</div>
                    <div class="butSideWorld" id="west_12" onclick="cell('west_12')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/13.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_12" onclick="cell('northeast_12')">СВ</div>
                    <div class="butSideWorld" id="southeast_12" onclick="cell('southeast_12')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_12" onclick="cell('southwest_12')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_12" onclick="cell('northwest_12')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_13" onclick="cell('north_13')">С</div>
                    <div class="butSideWorld" id="east_13" onclick="cell('east_13')">В</div>
                    <div class="butSideWorld" id="south_13" onclick="cell('south_13')">Ю</div>
                    <div class="butSideWorld" id="west_13" onclick="cell('west_13')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/14.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_13" onclick="cell('northeast_13')">СВ</div>
                    <div class="butSideWorld" id="southeast_13" onclick="cell('southeast_13')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_13" onclick="cell('southwest_13')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_13" onclick="cell('northwest_13')">СЗ</div>
                </div>

            </div>
            <div class="itemCompas">
                <div class="answers">
                    <div class="butSideWorld" id="north_14" onclick="cell('north_14')">С</div>
                    <div class="butSideWorld" id="east_14" onclick="cell('east_14')">В</div>
                    <div class="butSideWorld" id="south_14" onclick="cell('south_14')">Ю</div>
                    <div class="butSideWorld" id="west_14" onclick="cell('west_14')">З</div>
                </div>
                <img style="width: 137px;" src="https://www.aviaknow.ru/img/compas/15.png">
                <div class="answers">
                    <div class="butSideWorld" id="northeast_14" onclick="cell('northeast_14')">СВ</div>
                    <div class="butSideWorld" id="southeast_14" onclick="cell('southeast_14')">ЮВ</div>
                    <div class="butSideWorld" id="southwest_14" onclick="cell('southwest_14')">ЮЗ</div>
                    <div class="butSideWorld" id="northwest_14" onclick="cell('northwest_14')">СЗ</div>
                </div>

            </div>
        </div>
        <button id='Finish_button' class="restart_button" name="finish" onclick="finish_test()" style="top: 5vh">Готово</button>
        <a href="/compasses_test" class="restart_button" id='Retry'>Заново</a>
    </div>
</div>
<script>

    const TRUE_RESULT = ['southeast', 'east', 'south', 'south', 'southeast', 'west', 'southwest', 'northeast',
        'northeast', 'northwest', 'south', 'north', 'southeast', 'northwest', 'southeast', 'southeast', 'northwest'];

    const TEST_DURATION = 150000;

    let timer;

    let correctChosen = [];
    let incorrectChosen = [];

    function start_test() {
        document.getElementById('Timer').style.display = 'flex';
        document.getElementById('Instruction').style.display = 'none';
        document.getElementById('Start_button').style.display = 'none';
        document.getElementById('Finish_button').style.display = 'block';
        document.getElementById('bg').style.background = 'black';
        document.getElementById('container').style.display = 'block';


        setTimeout(finish_test, TEST_DURATION);

        let end = new Date().getTime() + TEST_DURATION;
        timer = setInterval(() => {
            let now = new Date().getTime();
            let distance = Math.floor((end - now) / 1000);
            document.getElementById("Timer").innerHTML = Math.floor(distance / 60) + "m " + distance % 60 + "s ";
        }, 1000);
    }

    function cell(id) {
        let cell = document.getElementById(id);
        let num = id.split('_')[1];
        let val = id.split('_')[0];
        let flag = false;
        correctChosen.forEach(elem => {
            if (elem.id.split('_')[1] === num) {
                flag = true;
            }
        })
        incorrectChosen.forEach(elem => {
            if (elem.id.split('_')[1] === num) {
                flag = true;
            }
        })
        if (correctChosen.includes(cell)) {
            correctChosen.splice(incorrectChosen.indexOf(cell), 1);
            cell.style.backgroundColor = "white";
        } else if (incorrectChosen.includes(cell)) {
            incorrectChosen.splice(incorrectChosen.indexOf(cell), 1);
            cell.style.backgroundColor = "white";
        } else if (flag) {
            return;
        } else {
            cell.style.backgroundColor = "gray";
            if (val === TRUE_RESULT[num]) {
                correctChosen.push(cell);
            } else {
                incorrectChosen.push(cell);
            }
        }
    }

    function finish_test() {
        document.getElementById('Instruction').style.display = 'none';
        document.getElementById('Final Result').style.display = 'block';
        document.getElementById('Final Result').innerHTML = "Вы верно выбрали " + correctChosen.length + "/15 направлений";
        document.getElementById('Finish_button').style.display = 'none';
        clearInterval(timer);
        document.getElementById('Timer').style.display = 'none';

        for (let cell of correctChosen) {
            cell.style.backgroundColor = "green";
        }
        for (let cell of incorrectChosen) {
            cell.style.backgroundColor = "red";
        }
        document.getElementById('Retry').style.top = '10vh';
        document.getElementById('Retry').style.display = 'block';
    }
</script>
</body>
</html>