<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/login" method="post">
                    <h2>Авторизация</h2>
                    <div class="inputbox">
                        <input type="text" id="login" name="user_email" required>
                        <label>Почта</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="user_password" required>
                        <label>Пароль</label>
                    </div>
                    <button type="submit">Вход</button>
                    <div class="register">
                        <p>Нет аккаунта? <a href="/reg">Регистрация</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="/public/libs/CookieManager.js"></script>
</body>
</html>